---
title: Welcome to Sofia
date: 2017-09-19 09:00 UTC
tags:
---

Partial is this Friday and we want to welcome you to early autumn, yet still
sunny Sofia! ☀️  We're going to talk about the public transport

## Currency

While Bulgaria is in the EU, it's hasn't adopted the Euro. Our currency is
called Bulgarian Lev and is bound to the Euro around the rate of 1.96 Leva for
1 Euro. Most of our ATMs support Visa and MasterCard and they can be your
easier way to get levs. If you have America Express, you may try converting
them in a bank.

## Public Transport

Public transport in Sofia is cheap. There are three types of it - buses, trams
and underground railway (Metro). We recommend using the Metro for your visit
here, as it should be the easiest way for you to get to and from the venue.

The ticket machines at the Metro stations only sell single-ride tickets, at the
price of 1.6 Leva, or 80 Euro cents. While most of them accept only coins, you
can use paper money at some of them. Make sure you have banknotes of 2, 5 or 10
leva, as they do not accept banknotes of 20 and above.

Also, if you are traveling with bulkier luggage (if the dimensions exceed
60х40х40 cm), make sure to take another ticket for your luggage.

There are only two lines of underground trains in Sofia - Line 1 (<span
style="color: red">red</span>), and Line 2 (<span style="color:
blue">blue</span>). Line 1 connects the districts of Lyulin and Mladost, while
Line 2 connects the Obelya and Lozenets districts.

The conference venue, Hilton Sofia is on the blue line.  If you are coming
directly from the airport, you should change at Serdika station (<span
style="color: red">red</span>) and take the train in the <span>Lozenets</span>
(<span style="color: blue">blue</span>) direction. You will need to get at the
station European Union, that's the closest one to Hilton.

If your flight arrives late, your only option might be taking a taxi to the
city center. You may want to avoid taking a taxi from the drivers right at the
arrival section. On both terminals, there are regulated taxi stops. It might be
better to use them. Take a look at the prices (usually located on back seat
window), and make sure that the “TRANSPORT (leva per km)” price is not more
than 1.00 lv.

## Sightseeing

Sofia is an old city, inhabited as early as 7000 BC. For centuries, this has
been the city of Thracians, Byzantines, Slavs and Bulgars. It has been the
residence of Roman emperors, an administrative centre under the First Bulgarian
Kingdom, and a capital of an Ottoman province. You can see a monument of almost
each historical era inside the city.

If you are interested in sightseeing, we have organized a Free Sofia Tour with
a professional tour guide starting at 14:00 on Saturday, September 22nd from
the entrance of the conference venue, Hilton Hotel Sofia. We think this may be
a fun way to both communicate with the attendees and the speakers in a casual
setting and learn something about Sofia as well!

Make sure to put your name on the Free Sofia Tour board we'll have in the
conference lobby, so we know how many tour guides we'll need.

–

This is it, folks! Can't way to see you all in Sofia! 💙
