---
title: Announcement v2.0
date: 2018-07-15 08:00 UTC
tags:
---

Hello, partial friends! 👋

You may have noticed our scarce presence during the last few months! We were
busy running our sister event, [Balkan Ruby] and several other secret projects.
👀

We’re now fully committed to Partial. Here is the deal – we are moving the date
for the conference to 30th of November, and we are prolonging our CFP to 15th
of August. Blind/early bird tickets will be available shortly.

Once again Partial will be all about functional technologies. Here are the
usual suspects: [Clojure], Erlang, [Haskell], [F#], [Reason], [React] and the
likes! We would love to hear from your experience on how they are used in your
company, or personal projects.

If you need some inspiration, you can watch the [videos][videos2017] from last
year, so you can get an impression about the content we are looking for.

<a href="/#cfp" class="btn-primary">Become a speaker</a>

Please don’t hesitate to email us at [hi@partialconf.com] for any questions or
feedback you may have.

Yours fully! ❤️

[videos2017]: https://www.youtube.com/playlist?list=PLSBN3H4lrY2UPJZwda46HdmY7sAJMZIxY
[twitter]: https://twitter.com/partialconf
[Clojure]: https://clojure.org
[Elm]: http://elm-lang.org
[F#]: https://fsharp.org
[Reason]: https://reasonml.github.io
[React]: https://reactjs.org
[Haskell]: https://www.haskell.org
[React]: https://facebook.github.io/react/
[Redux]: http://redux.js.org/
[vestimir]: http://music.letthemdie.net
[vestimir-live]: https://www.youtube.com/watch?v=EC1c7NfBA0k
[Balkan Ruby]: https://balkanruby.com
[hi@partialconf.com]: mailto:hi@partialconf.com
