---
title: Announcement
date: 2018-03-05 08:00 UTC
tags:
---

Hi there! This is Genadi from the Partial team. [Last year][website2017] we set
out to launch a Functional Programming conference in Bulgaria. It wasn't
focused on a single technology or stack, but it was focused on the web! The
conference brought speakers and participants from all around the world and the
themes were fun and practical. You can check them out by watching the
[videos][videos2017] from last year.

We believe that Functional Programming does not live strictly in the academic
world and has practical implications. You can look at the recent explosion of
the [React] and [Redux] as an example of how the FP paradigm making its way into
the mainstream programming. But did you know that [Redux] was heavily inspired
by the [Elm] architecture? And [Elm] itself is inspired by the ML family
languages and [Haskell] in particular? If we follow down that rabbit hole, a
bunch, old and forgotten technologies emerge that can help us build better
software today.

This is why we are excited to announce that we are organizing Partial again!
It's gonna be held on 28th of September 2018 in Sofia, Bulgaria and our CFP is
open until 20th of August!

<a href="/#cfp" class="btn-primary">Become a speaker</a>

We are in the pursuit of learning practical and pragmatic FP programming from
the leading experts in their fields covering both frontend and backend.

Be sure to subscribe to our newsletter and follow us on [twitter] for upcoming
updates! And expect our future posts about the changes to the conference
format, fun FP trivia, Sofia, the universe, computation problems and everything
else!

Yours fully! ❤️

[Genadi]: https://github.com/gsamokovarov
[website]: http://partialconf.com
[website2017]: http://2017.partialconf.com
[videos2017]: https://www.youtube.com/playlist?list=PLSBN3H4lrY2UPJZwda46HdmY7sAJMZIxY
[twitter]: https://twitter.com/partialconf
[Elm]: http://elm-lang.org
[Haskell]: https://www.haskell.org
[React]: https://facebook.github.io/react/
[Redux]: http://redux.js.org/
