---
title: Announcement v2.0
date: 2018-07-15 08:00 UTC
tags:
---

Hello, [partial][twitter] friends! 👋

You may have noticed our scarce presence during the last few months! No, we
were not on a quest to reinvent ourselves or put new life to our disregarded
stand-up comedy, deejaying and [rock star][vestimir] careers... 🥁 We were busy
running our sister event, [Balkan Ruby].

With [Balkan] out of the way, we're fully committed to Partial now. This
introduces a couple of changes. We have changed the date of the event to
accommodate our lateness. It's 30th of November now. Write this down! It is set
in [stone][vestimir-live]! 🤘

With this, we're also prolonging our CFP to 13th of August. We're looking for
everything [Clojure], Erlang, [Haskell], [F#], [Reason], [React] and the likes!

<a href="/#cfp" class="btn-primary">Become a speaker</a>

Yours fully! ❤️

[videos2017]: https://www.youtube.com/playlist?list=PLSBN3H4lrY2UPJZwda46HdmY7sAJMZIxY
[twitter]: https://twitter.com/partialconf
[Clojure]: https://clojure.org
[Elm]: http://elm-lang.org
[F#]: https://fsharp.org
[Reason]: https://reasonml.github.io
[React]: https://reactjs.org
[Haskell]: https://www.haskell.org
[React]: https://facebook.github.io/react/
[Redux]: http://redux.js.org/
[vestimir]: http://music.letthemdie.net
[vestimir-live]: https://www.youtube.com/watch?v=EC1c7NfBA0k
[Balkan Ruby]: https://balkanruby.com
