<% home ||= false %>

<div class="header-sm fixed">
  <div class="container">
    <div class="branding <%= 'hidden' if home %>">
      <a href="/" class="logo logo-sm">partial :: Conf 2018</a>
    </div>

    <nav>
      <a href="http://2017.partialconf.com">2017</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</div>
