<% home ||= false %>

<div class="header-sm fixed">
  <div class="container">
    <div class="branding <%= 'hidden' if home %>">
      <a href="/" class="logo logo-sm">partial :: Conf 2018</a>
    </div>

    <nav>
      <a href="http://2017.partialconf.com">2017</a>
      <a href="/blog">Blog</a>
      <a href="/lineup">Lineup</a>
      <a href="/partners">Partners</a>
      <a href="/venue">Venue</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSexcre0-50kvp3tBNaXMphB3LJt6etAOXGLwXVStssqU7MyGA/viewform" class="btn-primary btn-invert btn-sm">Register</a>
    </nav>
  </div>
</div>
